.footer
  .footer-wrapp
    .footer-logo
      a(href="https://wttc.org/")
        img(src="/public/images/footer-logo.png",, alt="", width="200px")
    .footer-sponsor
      a(href="https://maison-dellos.com/")
        img(src="/public/images/footer-sponsor__logo.png",, alt="", width="100px")
    .footer-wrap
      .footer-info.
        © COPYRIGHT 2021 РЕСТОРАН «ТУРАНДОТ», #[a(href="https://maison-dellos.com/") MAISON DELLOS]
      .footer-links
        each link in socialLinks
          .links-item
            a.links(href=link.href, title=link.title, target="_blank", rel="noopener")
              img.links-img(src=link.src)
