extends layout

block content
  .certificate
    .container
      .title Праздничные мероприятия 6, 7, 8 марта
      .certificate-info
        .certificate-wrap
          .certificate-item.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maiores laboriosam consequatur eligendi sed dicta? Dolorem sequi, laudantium autem suscipit mollitia reiciendis consequuntur alias tenetur eligendi porro, ratione illum veritatis.
          .btn-wrap
            button.btn.btn-item Оформить ещё один сертификат
            button.btn.btn-item На главную страницу