doctype html
html(lang='ru')
  head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  title Ресторан «Турандот»
  style
    include ../app.css
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Exo%202:300,700,400,400italic&subset=cyrillic&display=swap&ver=1610738114")
  body
    .wrapper
      include blocks/header
      block content
      include blocks/footer
    script
      include ../scripts/common.js
