doctype html
html(lang='ru')
  head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  title Ресторан «Турандот»
  style
    include ../app.css
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Exo%202:300,700,400,400italic&subset=cyrillic&display=swap&ver=1610738114")
  body
    include blocks/header
    block content
    script
      include ../scripts/common.js
